body
{

	padding:0px;
	margin:0px;
	text-align: center;
}
.spiel {
	color:#666;
	width:600px;
	font-size:20px;
	text-align: left;
	margin-left: 20px;
	margin-top:20px;
	float:left;
}

.container1
{
	width:100%;
	margin:auto;
}

.first_cover_image
{
	width:100%;
	background:url(../images/cover.jpg) no-repeat;
	background-size:100%;
	text-align:center;
	padding-bottom:0px;
	float:left;
}

.train
{
	height:576px;
	width:100%;
	border-top:20px solid #DBDB4B;
	border-bottom:20px solid #DBDB4B;
	background:url(../images/dbl.jpg) no-repeat;
	background-size:100%;
	text-align:center;
	float:left;
}
.inner_width_content
{
	position:relative;
	width:1260px;
	margin:auto;
}


.inner_small_width_content
{
	position:initial;
	margin:auto;

}

.wtfk_logo
{
	font-size:150px;
	color:#a1d012;
	text-align:center;
	padding-top:20px;
	width:1245px;
}

.wtfk_location
{
	text-align:center;
	width:100%;
	float:left;
	text-align: center;

}

.cover_time
{
	font-size:70px;
	color:#999;
	display:inline-block;
	vertical-align: middle;
	*display:inline;
	zoom:1;
}

.cover_location
{
	font-size:55px;
	color:#ddd;
	position:relative;
	display:inline-block;
	vertical-align: middle;
	*display:inline;
	zoom:1;
}

.vertical_divider
{
	width:2px;
	height:30px;
	background:#FFF;
}

.the_event_div
{
	padding-bottom:0px;
	float:left;
	width: 100%;
}
.the_event
{
	font-size:40px;
	color:#ddd;
	padding-top:30px;
}

.the_event_details
{
	display:inline-block;
	line-height: 50px;
	vertical-align:middle;
	*display:inline;
	zoom:1;
	width: 890px;
	font-size:30px;
	color:#312f2f;
	padding:0px;
	background: #fff;
	border: 1px solid #eee;
	padding: 41px 20px;
	text-align: center;
	margin: 0 auto;
	margin-top:0px;
}

.border {
	width:10px;
	float:left;
	margin-top:20px;
	}

.the_event_registration_form
{
	width: 100%;
	font-size:20px;
	color:#312f2f;
	display:inline-block;
	vertical-align:middle;
	*display:inline;
	zoom:1;
}
.elastic
{
	clear:both;
}
.byline {
	font-size:24px;
	border-top:1px solid #999;
	color:#999;
}

#map-d {
float:left;
width: 500px;
margin-top:10px;
margin-bottom:20px;
height: 300px;
border:2px solid #CCC;
}

#map {
width: 500px;
position:absolute;
height: 300px; }


.left {
	float:left;
}

.images {
	margin-top:10px;
	margin-bottom:100px;
	min-height: 100px;
	width:100%;
}

.grey {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%); 
}

.schedule {
	margin:0;
	padding:0;
}


.input[type="text"], .input_text, .input_text_name{
width: 100% !important;
/*float: left !important;
*/margin: 0 !important;
margin-bottom:20px !important;
padding: 4px !important;
height: 30px !important;
}

.input_text_name {
/*	width:265px;
	padding:10px;
	margin-left:25px;
	font-size:18px;
	margin-bottom:5px;
*/	border: 1px solid #ddd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;	
}
.input_text {
/*	width:100%;
	padding:10px;
	margin-left:25px;
	font-size:18px;
	margin-bottom:5px;
*/	border: 1px solid #ddd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;	
	}
	
.radio_button {
	margin-top:20px;
	margin-left:55px;
	margin-right:10px;
	padding:10px;
	display:inline-block;
	}
.count_me_in
{
	display:inline-block;
	vertical-align: middle;
	zoom:1;
	*display:inline;
	padding:10px 40px;
	background:#a1d012;
	border-radius:4px;
	font-size:20px;
	color:#FFF;
	margin-top:20px;
	text-decoration:none;
	width:578px;
	margin-left:25px;
	border: none;
	font-weight: bold;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.1);
}
}

input[type=radio] {
	padding:5px;
	display:inline-block;
	border-radius:10px;
	}

.the_location_div
{
	
	background:#fff;
	position:relative;
padding-bottom:30px;
}

.bottom_arrow
{
	width:100%;
	position: relative;
	text-align:center;
}

.bottom_arrow img 
{
	top:-3px;
	position:absolute;
	z-index:1010;
}

.the_location
{
	font-size:40px;
	color:#999;
	padding-top:40px;
}

.address
{
	font-size:25px;
	color:#999;	
	margin-top:20px;
}

.em {
	color:#08C;	
}

.tripiterinary {
	padding-top:15px;
	padding-bottom:15px;
	font-size:20px;
	color:#888;
}

.the_map_details
{
	margin-top:30px;
	display:inline-block;
	vertical-align:middle;
	
}

.shedule_div
{
	
	background:#f9f9f9;
	border-top:1px solid #eee;
	float:left;
	width:100%;
}

.the_shedule
{
	font-size:40px;
	color:#08C;
	padding-top:60px;
}

.the_participant
{
	font-size:116px;
	color:#033a57;
	padding-top:60px;
	
	width:1260px;
	overflow:hidden;
}

.shedule
{
	font-size:20px;
	color:#312f2f;
	margin-top:10px;
	margin-bottom:30px;
}

.orange_border
{
	width:100%;
	height:3px;
	float:left;
	background:#f18103;
	
}

.spread_the_word_div
{
	background:#3875E8;
	text-align:left;
	padding-bottom:100px;
	float:left;
	width:100%;
}

.logos
{
	text-align:center;
	margin-top:30px;
}

.single_logo
{
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:middle;
	width:415px;
	text-align:center;
	margin-bottom:70px;
	
	
}

.left_spread
{
	display:inline-block;
	vertical-align: top;
	zoom:1;
	*display: inline;
	width:590px;
	padding-top:60px;
	padding-left:23px;
	position: relative;
	float:left;
}

.hn-share-iframe {
	margin-top:7px !important;
}
.spread
{
	font-size:40px;
	color:#FFF;
}


.small_spread
{
	font-size:40px;
	color:#FFF;
	position:absolute;
	top:167px;
}

.sepeartor
{
	display:inline-block;
	vertical-align: middle;
	zoom:1;
	*display: inline;
	width:1px;
	height:170px;
	background:#FFF;
	margin-top:80px;
	margin-right:16px;
}
.right_share
{
	display:inline-block;
	vertical-align: top;
	zoom:1;
	*display: inline;
	width:600px;
	text-align: center;
	padding-top:105px;

}

.facebook_share
{
	display:inline-block;
	vertical-align: middle;
	zoom:1;
	*display: inline;
	width:290px;
	color:#FFF;
	font-size:30px;
	text-align:center;
}

.facebook_share a 
{
	color:#FFF;
	text-decoration: none;
}

.facebook_text
{
	display:block;
}

.filter_kappi_text
{
	font-size:40px;
	color:#FFF;
	padding-top:100px;
}

.filter_kappi_div
{
	background:#4B4A4A;
	text-align:center;
	width:100%;
}

.footer
{
	height:100px;
	text-align:center;
	float:left;
	padding:40px;
	padding-bottom:0;
}

.inner_footer
{
	margin:auto;
	width:1160px;
	position: relative;
	color:#222b31;
	font-size:23px;
}

.inner_footer a 
{
	text-decoration:none;
	color:#222b31;
	color:#08C;

}

.website
{
	position:absolute;
	left:0px;
	top:40px;
}


.copyright
{
	position:absolute;
	left:500px;
	top:40px;	
}

.developed
{
	position:absolute;
	right:3px;
	top:40px;	
}

.left_float {
	float:left;
	}

.fchat {
	width:50%;
	float:left;
}

.width45 {
	width:45%;
	}
	
	.speaker
	{
		background:#f9f9f9;
		border-radius:10px;
		border-bottom:none;
		width:1200px;
		min-height:300px;
		margin:auto;
		margin-top:0px;
		padding:30px;
		padding-bottom:0px;
		padding-top:20px;
		float:left;
	}
	
	
	#prev2
	{
		position:absolute;
		left:0px;
		top:52%;
		
	}
	#next2
	{
		position:absolute;
		right:0px;
		top:52%;
		
	}
	.speaker_head
	{
		font-size:30px;
		margin-bottom:15px;
		color:#CCC;
		float:left;
		margin:20px;
		margin-top:30px;
		text-align: left;
padding-left: 0px;
	}
	
	.speaker_details
	{
		text-align:left;
	    margin-top:0px;
	    margin-left:20px;
	    float:left;
		width:600px;
	}
	
	.single_speaker
	{
		float:left;
	}
	
	.speaker_details img
	{
		display:inline-block;
		*display:inline;
		zoom:1;
		vertical-align:top;
		float:left;
	}
	
	.speaker_details p
	{
		display:inline-block;
		*display:inline;
		zoom:1;
		vertical-align:top;
		text-align:left;
		
		width:405px;
		color:#FFF;
		padding:0px;
		margin:0px;
		margin-left:10px;
	}
	
	.speaker_name
	{
		font-size:25px;
		color:#666;
		display:inline-block;
		margin-bottom:2px;
	}
	
		.speaker_name1
	{
		font-size:13px;
		color:#999;
		font-weight: 500;
		margin-top:10px;
		display:inline-block;
	}
	.speaker_desig{
			font-size:18px;
			color:#000;
		display:inline-block;
		margin-bottom:10px;
		margin-top:5px;
	}
	.speaker_desig1{
			font-size:13px;
			color:#999;
		display:inline-block;
		margin-bottom:10px;
	}
	
	.speaker_desc{
			font-size:16px;
			line-height: 23px;
			text-align: justify;
		display:inline-block;
		
	}
		.speaker_desc1{
			font-size:12px;
		display:inline-block;
		
	}